img {
  float: left;
  padding: 4px;
}

h1 {
  text-align: left;
}

.sidebar {
  margin: 12px;
  width: 30%;
  float: right;
  background-color: red;
  padding: 4px;
  border: 2px solid black;
}

.column {
  
  width: 300px;
  float: left;
}

.important {
  color: blue;
}